
*{
    font-family: "Inter", sans-serif;
    color: #030616;
}

body{ /*using this to keep the footer in the bottom*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{ /*using this to keep the footer in the bottom*/
    flex: 1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    
}

.title{
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 0;
}

.subtitle{
    font-weight: 600;
    font-size: 1.5rem;
}

.text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

main{
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}

section{
    max-width: 610px;
}

.section_line{
    border-top: 1px solid #D2D5DA;
}

.highlited_text{
    color: #4E80EE;
    text-decoration: none;
}

footer{
    padding: 2.5rem;
}


.author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
}

.author-info a {
        text-decoration: none;
        font-weight: bold;
}

