

body{ /*using this to keep the footer in the bottom*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{ /*using this to keep the footer in the bottom*/
    flex: 1;
}

.author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
}

.author-info a {
        text-decoration: none;
}