:root{
    --bg-color: #ddf6f6;
    --box-color: #D7E3E3;
    --main-color: #005B67;
    --text-color: #333333;
    --light-text: #FFFFFF;
    --footer-color:#A6C1C1;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

body{ /*using this to keep the footer in the bottom*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{ /*using this to keep the footer in the bottom*/
    flex: 1;
}

/*header styles*/

.header{
    background-color: var(--main-color);
    font-family: var(--font-heading);
    padding: 2rem;
    color: var(--light-text);
}

.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_nav_logo{
    font-size: 2.35rem;
}

.header_nav_options{
    display: flex;
    justify-content: space-evenly;
    width: 16em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: 500;
}

a:hover{
    font-weight: 800;
}

/*about section*/

.about{
   padding: 1rem;
}

.about_title{
    text-align: center;
    font-family: var(--font-heading);
    font-size: 2rem;
    color: var(--text-color);
}

.about_core{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img{
    width: 40%;
    border-radius: 12%;
}

.about_text{
    font-size: 1.1rem;
    font-family: var(--font-body);
    margin-left: 1rem;
    text-align: center;
    color: var(--text-color);
}

/*Contact us section*/

.contactUs{
    background-color: var(--footer-color);
    padding: 1rem;
}

.contactUs_title{
    text-align: center;
    font-family: var(--font-heading);
    font-size: 2rem;
}

.contactUs_text{
    font-size: 1.1rem;
    font-family: var(--font-body);
    margin-left: 1rem;
    text-align: center;
    color: var(--text-color);
}


/*form styles*/

.contactUs_form{
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    color: var(--text-color);
    margin: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
}

/*fname and lname sections fields*/
.contactUs_form_row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
    font-weight: 600;
        
}

.contactUs_form_row1_box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.short_input{
    height: 3.5vh;
    width: 25vw;
    min-width: 200px;
    border-radius: 6px;
    border: none;
    font-family: var(--font-body);
    padding-left: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

.short_input:focus{
    box-shadow: 0 0 7px rgba(1, 86, 69, 0.4); 
}

/*email field*/

.contactUs_form_row2{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    font-weight: 600;
}

.contactUs_form_row2_box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.email_input{
    height: 3.5vh;
    width: 57.2vw;
    min-width: 440px;
    border-radius: 6px;
    border: none;
    font-family: var(--font-body);
    padding-left: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

.email_input:focus{
    box-shadow: 0 0 7px rgba(1, 86, 69, 0.4); 
}

/*timesize and location fields*/

.contactUs_form_row3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    font-weight: 600;
}


.contactUs_form_row3_box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

select{
    height: 3.5vh;
    width: 25vw;
    min-width: 200px;
    border-radius: 6px;
    border: none;
    font-family: var(--font-body);
    padding-left: 6px;
    outline: none;
    transition: border-color 0.3s ease;
    color:var(--text-color);
    
}

select:focus{
    box-shadow: 0 0 7px rgba(1, 86, 69, 0.4); 
}

option {
  color: var(--text-color);
  background-color: #fff;
}

option:checked {
  background-color: var(--box-color);
  color: var(--text-color);
}

/*comment field*/

.contactUs_form_row4{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    font-weight: 600;
}
.contactUs_form_row4_box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

textarea{
    height: 12.5vh;
    width: 57.2vw;
    min-width: 440px;
    border-radius: 6px;
    border: none;
    font-family: var(--font-body);
    padding-left: 6px;
    outline: none;
    transition: border-color 0.3s ease;
}

textarea:focus{
    box-shadow: 0 0 7px rgba(1, 86, 69, 0.4); 
}


/*Privacy policy field*/

.form_policy{
    display: flex;
    justify-content: center;
    margin: 0.2rem;
}

.form_policy_box{
    width: 58.5vw;
    min-width: 440px;
}

#radio{
    accent-color: var(--main-color);
}


/*button*/

.button{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

button{
    background-color: #333333;
    border-radius: 8px;
    border-style: none;
    color: var(--light-text);
    font-family: var(--font-body);
    font-weight: bold;
    height: 3.5vh;
    width: 58vw;
    outline: none;
    transition: background-color 0.3s ease;
}


button:hover{
    background-color: #000000;
}

button:focus{
    box-shadow: 0 0 7px rgba(1, 86, 69, 0.4);
}

footer{
    padding: 2rem;
    background-color: var(--main-color);
    font-family: var(--font-heading);
    color: var(--light-text);
    text-align: center;
}